*
{
	margin: 0px;
}

header
{
	background: #EAEAEA;
	margin: 0px;
	padding: 10px;
	padding-bottom: 40px;
	font-size: 32px;
	font-weight: bold;
}

#content
{
	overflow: hidden; 
}

#leftCol
{
	background: #C8FC98;
	float: left;
	width: 25%;
	line-height: 25px;
	font-size: 16px;
}

#centerCol
{
	margin-left: 25%;
	margin-right: 200px;
	line-height: 25px;
	font-size: 16px;
	padding-left: 10px;
}

#rightCol
{
	background: #FDE95E;
	float: right;
	width: 200px;
	line-height: 25px;
	font-size: 16px;
}

footer
{	
	text-align: center;
	background: black;
	padding: 10px;
	font-size: 14px;
}

a
{
	color: yellow;
}
